<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add product</title>
</head>
  <body>
    <form method="post" action="/web/product/add">
      <table>
        <tr>
          <td> <input type="text" name="name"/></td>
          <td>Name</td>
        </tr>
        <tr>
          <td> <input type="number" name="quantity"/></td>
          <td>Quantity</td>
        </tr>
        <tr>
          <td> <input type="text" name="unit"></td>
          <td>Unit</td>
        </tr>
        <tr>
          <td> <input type="text" name="category"/></td>
          <td>Category</td>
        </tr>
        <tr>
          <td colspan="2"><input type="submit" value="Add product"></td>
        </tr>
      </table>
    </form>
  </body>
</html>
