<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete product</title>
</head>
<body>
    <form method="post" action="/web/product/delete">
        <table>
            <tr>
                <td>Product ID</td>
            </tr>
            <tr>
                <td> <input type="text" name="id"/></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Delete product"></td>
            </tr>
        </table>
    </form>
</body>
</html>
